@import '../../../styles/settings.scss';

.root {
  margin-left: 80px;
  .logo {
    margin-left: 200px;
  }
  .title {
    font-size: 50px;
    margin: 0px 20px;
  }
  .subtitle {
    margin-top: 15px;
    margin-bottom: 0;
    color: $color-three;
  }
}
