@import '../../../styles/settings.scss';

.root {
  margin-left: 100px;

  .logo {
    margin-left: 200px;
  }
  .title {
    font-size: 70px;
    margin: 0px 20px;
  }
  .subtitle {
    margin-top: 28px;
    margin-bottom: 0;
    color: $color-three;
  }
}
