@import '../../../styles/settings.scss';
.root {
  max-width: 2000px;

  .imageContainer {
    width: 100%;
    height: 200px;
  }

  .image {
    margin: auto;
    height: 60%;
    object-fit: contain;
  }

  .productNameContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .productName {
    color: $color-one;
  }

  .formFieldLine {
    display: flex;
    justify-content: center;
  }

  .priceContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .price {
    color: $color-one;
  }

  .commentField {
    width: 100%;
  }

  .iconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon {
    color: $color-one;
    font-size: 35px;
  }

}